@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 680px) {
    #header {
        height: 110px;
    }
}

body {
    width: 100%;
}

main {
    padding: 120px 20px 25px;
}

body.default {
    background-color: #5DADE2; 
    transition: background-color 0.7s ease;
}

body.high-contrast {
    background-color: black;
    transition: background-color 0.7s ease;
}

.default-font-colour {
    color: black;
    transition: color 0.7s ease;
}

.high-contrast-font-colour {
    color: yellow;
    transition: color 0.7s ease
}

iframe {
    width: 100%;
    height: fit-content;
    position: absolute;
    overflow: hidden;
    border: none;
}

#header {
    top: 0;
    z-index: 2;
}

#footer {
    bottom: 0;
    z-index: 1;
}

